<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
</head>

<body>

    <!-- Vector from two points-->
    <h1 class="title">
        Find Vector From Two Points
    </h1>
    <form method="POST" action="">
        <p style="font-size: 1.2rem;">Point <input class="input" style="display: inline; width: 5%; height: 2rem; margin-bottom: 1rem;" name="point1" type="text" placeholder="A" value="A"> =
            (<input class="input" style="display: inline; width: 5%; height: 2rem; margin-bottom: 1rem;" name="x1" type="text" placeholder="x" />,
            <input class="input" style="display: inline; width: 5%; height: 2rem; margin-bottom: 1rem;" name="y1" type="text" placeholder="y" />,
            <input class="input" style="display: inline; width: 5%; height: 2rem; margin-bottom: 1rem;" name="z1" type="text" placeholder="z" value=0 />)
            <br>
            Point <input class="input" style="display: inline; width: 5%; height: 2rem; margin-bottom: 1rem;" name="point2" type="text" placeholder="B" value="B"> =
            (<input class="input" style="display: inline; width: 5%; height: 2rem; margin-bottom: 1rem;" name="x2" type="text" placeholder="x" />,
            <input class="input" style="display: inline; width: 5%; height: 2rem; margin-bottom: 1rem;" name="y2" type="text" placeholder="y" />,
            <input class="input" style="display: inline; width: 5%; height: 2rem; margin-bottom: 1rem;" name="z2" type="text" placeholder="z" value=0 />)</p>
        <div class="control">
            <button class="button is-primary is-small">Submit</button>
        </div>
        <p>
            {% if vector != None %}
            $$\overrightarrow{ {{p_to_p}} } = {{ vector }}$$
            {% endif %}
        </p>
    </form>


    <!-- Vector from two points -->

    <!-- Angle between two vectors -->
    <h1 class="title">Angle Between Two Vectors </h1>
    <form method="POST" action="">

        <input name="v1" type="text" placeholder="i" />
        <input name="v2" type="text" placeholder="j" />
        <input name="v3" type="text" placeholder="k" />
        <br>
        <input name="w1" type="text" placeholder="i" />
        <input name="w2" type="text" placeholder="j" />
        <input name="w3" type="text" placeholder="k" />
        <br><br>
        <div class="control">
            <button class="button is-primary is-small">Submit</button>
        </div>
    </form>

    <p>
        {% if angle != None%}
        $$\theta ={{ angle }}$$
        {% endif %}
    </p>
    <!-- Angle between two vectors -->

    <!-- Norm -->
    <h1 class="title">Magnitude</h1>
    <!-- Norm -->

    <!-- Dot Product -->
    <h1 class="title">Dot Product</h1>
    <!-- Dot Product -->

    <!-- Directional Cosine -->
    <h1 class="title">Directional Cosine</h1>
    <!-- Directional Cosine -->

    <!-- Projection -->
    <h1 class="title">Projection</h1>
    <!-- Projection-->

    <!-- Distance from point to line -->
    <h1 class="title">Distance From Point to Line</h1>
    <!-- Distance from point to line -->

    <!-- Cross Product -->
    <h1 class="title">Cross Product</h1>
    <!-- Cross Product -->

    <!-- Parallelpiped Volume -->
    <h1 class="title">Parallelpiped Volume</h1>
    <!-- Parallelpiped Volume -->
</body>

</html>
