{% extends "layout.html" %}
{% block content %}
<section class="hero is-dark is-bold is-medium">
    <div class="hero-head">
        <nav class="navbar">
            <div class="container">
                <div class="navbar-brand">
                    <a style="font-size: 1.5rem;" href="/" class="navbar-item">
                        <span style="padding-right:0.5rem">Axiomathbf</span>
                        <span class="icon is medium"><i class="fas fa-calculator"></i></span>
                    </a>
                    <span class="navbar-burger burger" data-target="navbarMenuHeroA">
                        <span></span>
                        <span></span>
                        <span></span>
                    </span>
                </div>
                <div id="navbarMenuHeroA" class="navbar-menu">
                    <div class="navbar-end">
                        <a href="/" class="navbar-item is-active">
                            Home
                        </a>
                        <a href="vector_domain" class="navbar-item">
                            Calculators
                        </a>
                        <a class="navbar-item">Documentation
                        </a>
                        <span class="navbar-item">
                            <a href="https://github.com/ow-wow-wang/axiomathbf" class="button is-black is-inverted">
                                <span class="icon">
                                    <i class="fab fa-github"></i>
                                </span>
                                <span>Download</span>
                            </a>
                        </span>
                    </div>
                </div>
            </div>
        </nav>
    </div>
    <div class="hero-body">
        <div class="container has-text-centered">
            <h1 class="title">Vector Function Domain</h1>
        </div>
    </div>
    <div class="hero-foot">
        <nav class="tabs">
            <div class="container">
                <ul>
                    <li class="is-active"><a href="#overview">Cross Product</a></li>
                    <li class="is-active"><a href="#overview">Vector-Valued Domain</a></li>
                    <li><a>Gradient</a></li>
                    <li><a>Directional Derivative</a></li>
                    <li><a>Linearization</a></li>
                    <li><a>Chain Rule</a></li>
                    <li><a>Relative Extreme</a></li>
                    <li><a>Jacobian</a></li>
                </ul>
            </div>
        </nav>
    </div>
</section>
<section class="section">
    <div class="container">
        <form method="POST" action="">
            <span class="text">\(\vec{r}(t) = \) {{form.hidden_tag()}}
                \(\langle\){{form.vect1(id="vect_domain", class="input")}},
                {{form.vect2(id="vect_domain", class="input")}},
                {{form.vect3(id="vect_domain", class="input")}}\(\rangle\)
            </span>
            <div>
                {{ form.submit(id="pad-btn", class="button is-dark is-bold") }}
            </div>
        </form>
        <p class="text">
            {% if parts is defined %}
            Find the natural domain: $$ \vec{r}(t) = \langle {{parts[0]}}, {{parts[1]}}, {{parts[2]}} \rangle = {{parts[0]}} \textbf{i} + {{parts[1]}} \textbf{j} + {{parts[2]}} \textbf{k}$$
            Component functions:
            $$ x(t) = {{parts[0]}}, y(t) = {{parts[1]}}, z(t) = {{parts[2]}} $$
            Natural domains of the component functions:
            $$x \in {{multiple_domains[0]}}, y \in {{multiple_domains[1]}}, z \in {{multiple_domains[2]}}$$
            Intersection of these sets:
            $$\vec{r} \in {{intersected_domain}}$$
            {% else %}
            Input is not defined
            {%endif%}
        </p>
    </div>
</section>
{% endblock content %}
